.top_contenedor{
    background-image: url(../img/baner.jpg);
    height: 200px;
    color: white;
    padding: 2rem;
  
}
.contenedoe_letras{
    position: relative;
    left: 10px;
    top: 100px;
 
  
    width: max-content;
}

.texto1{
    font-size: 2rem;

}