*{
    margin: 0;

  
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
}

.contenedor{
    padding: 1.5rem;
 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main{
    padding: 2rem;

  
    
}
.productos_1{
    align-items: center;
    

}